@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .font-arabic {
    font-family: "Arabic Typesetting", "Traditional Arabic", "Geeza Pro", "Baghdad", "Helvetica Neue", sans-serif;
    line-height: 2;
    font-weight: 400;
  }
}
@layer base {
  /* .color-scheme {
    --desaturated-green: #417360;
  } */

  :root {
     --desaturated-green: #417360;
     --light-gray:#ebf3eb;
     --left-sidebar:#eef6eb;
    /* --background: 0 0% 100%; */
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}
/* Optional: only scope it to specific Sliders if needed */
.group[data-slider] .radix-slider-track {
  height: 3px !important;
  background-color: var(--desaturated-green); /* Replace with your actual color */
  border-radius: 6px;
}

.group[data-slider] .radix-slider-range {
  height: 3px !important;
  background-color: var(--desaturated-green); /* Replace with your actual color */

  border-radius: 6px;
}
