/* Styling the scrollable container */
.scrollable-container {
    overflow-y: scroll; /* Enable vertical scrolling */
    padding: 10px;
  }
  
  /* Custom scrollbar styles */
  .scrollable-container::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    height: 70px;
  }
  
  .scrollable-container::-webkit-scrollbar-track {
    background: #f2f2f2; /* Track color */
    border-radius: 20px;
    height: 70px;
  }
  
  /* For Firefox */
  .scrollable-container {
    scrollbar-color: #c2c2c2 #f2f2f2; /* Thumb color and track color */
    scrollbar-width: thin; /* Thinner scrollbar */
    border-radius: 20px;
  }
  